.dropdown-login{
	padding: 20px;
	width: 300px;
	background-color: #EEE;
}

/* .row-padded { */
/*   padding: 35px; */
/*   background-color: #00000; */
/*   border: 1px solid #DDD; */
/* } */

/* .row-padded .span4 { */
/*   background-color: #bbb; */
/*   width: 30%; */
/* } */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; 
    padding-top: 50px;
/*     background: #EAEAEA; */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* .navbar-inverse { */
/*     min-height: 70px; */
/* } */

#header{
	height: 50px;
	
}

#robo{
	padding-bottom: 50px;
}

#div-fundo-robo{
    background-image: url('/resources/img/robo6.jpg');
    width: 100%;
    height: auto;
    max-width: 1920px;
    background-size:cover;
    background-size: 100% 100%;  /*or cover like Ben Dyer states*/
 	background-repeat: no-repeat;
}

#div-fundo-artigo{
    background-image: url('/resources/img/artigo2.jpg');
    width: 100%;
    height: auto;
    max-width: 1920px;
    background-size:cover;
    background-size: 100% 100%;  /*or cover like Ben Dyer states*/
 	background-repeat: no-repeat;
}

#div-fundo-tutorial{
    background-image: url('/resources/img/tutorial.jpg');
    width: 100%;
    height: auto;
    max-width: 1920px;
    background-size:cover;
    background-size: 100% 100%;  /*or cover like Ben Dyer states*/
 	background-repeat: no-repeat;
}

#div-fundo-home{
	background-image: url('/resources/img/robo3.jpg');
    height: 400px;
    width: 1150px;
    max-width: 1920px;
    background-size:cover;
    background-size: 100% 100%;  /*or cover like Ben Dyer states*/
 	background-repeat: no-repeat;
}

#texto-branco-titulo{
	color: #FFFFFF;
    text-align:center;
    font-size: 35px;
    font-family:Times New Roman;
	
}

#texto-preto-titulo{
	color: #000000;
    text-align:center;
    font-size: 50px;
    font-family:Times New Roman;
	
}

#texto-branco{
	color: #FFFFFF;
    text-align:center;
    font-size: 22px;
    font-family:Times New Roman;
    text-indent: 2.0em;
    
	
}

#formato-div{
	height: 400px;
    width: 400px;
	
}

#texto-titulo{
	color: #000000;
    text-align:center;
}

#tamanho-imagem{
	height: 400px;
    width: 1150px;
    background-size:cover;
    background-size: 100% 100%;  /*or cover like Ben Dyer states*/
 	background-repeat: no-repeat;
	
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}